* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/carbon_fibre.webp);
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    color:#ffffff;
}

header {
    margin-top: 1rem;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
}

#container-cart {
    position: relative;
}

#container-cart a {
    position: relative;
    z-index: 10;
}

#container-cart a:hover {
    background-color: #1a1a1a;
    border-radius: 100%;
}

.container-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 100%;
}


#icon-cart {
    width: 1.7rem;
    color: #ffffff;
}

#count {
    width: 1.7rem;
    line-height: 2.55rem;
    text-align: center;
    font-size: 0.9rem;
    position: absolute;
    top: 0;
    right: 0.39rem;
}

#container-cart-products {
    padding: 0 0.5rem;
    background-color: rgba(0, 0, 0, 0.918);
    border-radius: 0.5rem;
}

.cart-product {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

#text-cart-empty {
    display: none;
    min-width: 28.5rem;
    text-align: center;
    grid-column: span 6;
    padding: 0.5rem 0;
    border-bottom: 0.1rem solid white;
}

.container-img-cart-product {
    width: 5rem;
    display: flex;
    align-items: center;
}

.img-cart-product {
    width: 100%;
    border-radius: 0.5rem;
}

.name-cart-product, .precio-cart-product, .cantidad-cart-product, .subtotal-cart-product{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.btn-remove {
    color: #ffffff;
    font-weight: 600;
    width: 1rem;
    line-height: 0.8rem;
    margin-bottom: 0.1rem;
    background-color: transparent;
}

.footer-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#total {
    font-size: 1.2rem;
}

#btn-clear {
    background-color: #ffffff;
    color: black;
    padding: 0.5rem 1rem;
    font-weight: 800;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
}

main {
    margin-top: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caption {
    margin-bottom: 2rem;
    font-size: 1.9rem;
    font-weight: 800;
}

#container-products {
    width: 90%;
    display: grid;
    column-gap: 1.25rem;
    row-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 20rem));
    justify-content: center;
}

.product {
    background-color: rgb(0, 0, 0);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    border: 0.1rem solid white;
}

.img-card-product {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.name-card-product, .precio-card-product {
    padding-left: 1rem;
}

.btnAgregarCarrito {
    margin-top: 0.5rem;
    border: none;
    border-radius: 1rem;
    background-color: white;
    color: black;
    width: 100%;
    height: 2rem;
    align-self: center;
    font-size: 1rem;
    font-weight: 700;
    border: 0.1rem solid white;
}

.btnAgregarCarrito:hover {
    background-color: #e7e7e7;
}