* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(../assets/carbon_fibre.webp);
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    color:#ffffff;
}

header {
    margin-top: 1rem;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
}

#saludo {
    font-size: 2rem;
    min-width: 7rem;
    text-align: center;
}

#container-logo {
    min-width: 7rem;
}

#logo {
    font-size: 2rem;
    color: #ffffff;
}

#logo:hover {
    color: #dfdfdf;
}


#container-cart {
    min-width: 7rem;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    padding: 0.1rem;
}

.container-icon {
    width: 2rem;
    display: flex;
    align-items: center;
}

#icon-cart {
    width: 100%;
    color: #bdbdbd;
}

#icon-cart:hover {
    color: #a0a0a0;
}

#count {
    background-color: rgba(0, 0, 0, 0.644);
    color: #ffffff;
    font-size: 1rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

#container-cart-products {
    padding: 0 0.5rem;
    background-color: rgba(0, 0, 0, 0.918);
    border-radius: 0.5rem;
}

.cart-product {
    display: grid;
    grid-template-columns: repeat(2, auto) minmax(6rem, auto) minmax(4rem, auto) minmax(6rem, auto) auto;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

#text-cart-empty {
    display: none;
    min-width: 35.1rem;
    text-align: center;
    grid-column: span 6;
    padding: 0.5rem 0;
    border-bottom: 0.1rem solid #ffffff;
}

.container-img-cart-product {
    width: 5rem;
    display: flex;
    align-items: center;
}

.img-cart-product {
    width: 100%;
    border-radius: 0.5rem;
}

.name-cart-product, .precio-cart-product, .cantidad-cart-product, .subtotal-cart-product{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.btn-remove, .btn-suma, .btn-resta {
    color: #ffffff;
    font-weight: 600;
    width: 1rem;
    line-height: 0.8rem;
    margin-bottom: 0.1rem;
    background-color: transparent;
}

.footer-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#total {
    min-width: 12rem;
    font-size: 1.2rem;
}

#btn-clear {
    background-color: #ffffff;
    color: black;
    padding: 0.5rem 1rem;
    font-weight: 800;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
}

#btn-clear:hover {
    background-color: #dfdfdf;
}

main {
    margin-top: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caption {
    margin-bottom: 2rem;
    font-size: 1.9rem;
    font-weight: 800;
}

#container-products {
    width: 90%;
    display: grid;
    column-gap: 1.25rem;
    row-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 20rem));
    justify-content: center;
}

.product {
    background-color: rgb(0, 0, 0);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    border: 0.1rem solid white;
}

.img-card-product {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.name-card-product, .precio-card-product {
    padding-left: 1rem;
}

.btnAgregarCarrito {
    margin-top: 0.5rem;
    border: none;
    border-radius: 1rem;
    background-color: white;
    color: black;
    width: 100%;
    height: 2rem;
    align-self: center;
    font-size: 1rem;
    font-weight: 700;
    border: 0.1rem solid white;
}

.btnAgregarCarrito:hover {
    background-color: #dfdfdf;
}

#container-saludo {
    min-width: 30rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.301);
    margin: 1rem 0;
    border-radius: 0.5rem;
}

label {
    font-size: 0.95rem;
}

#user-name {
    font-size: 0.95rem;
    border-radius: 0.3rem;
}

#btn-saludo {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 0.95rem;
    font-weight: 700;
    padding: 0.13rem 0.5rem;
    border-radius: 0.5rem;
    border: none;
}

#btn-saludo:hover {
    background-color: #dfdfdf;
}